header {
  height: 36px;
  display: inline-block;
  width: 100%;
  .container-fluid-height: 36px;
  .container-fluid-display: block; }

.nav-bar-strip {
  width: 100%;
  height: 8px;
  background-color: #003B4B; }

.nav-bar-app-title {
  color: white;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.03em;
  height: 32px;
  background-color: #003B4B; }

.nav-bar-menu-login-container {
  font-family: 'Istok Web', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #003B4B; }

.nav-bar-menubox {
  color: white;
  height: 32px;
  background-color: #003B4B;
  min-width: 40px;
  max-width: 100px;
  padding-left: 4px;
  padding-right: 4px; }

span#login, .menulink-text {
  font-family: 'Istok Web', sans-serif;
  font-size: 16px;
  font-weight: 500; }

.nav-bar-menu-login-container a {
  color: #003B4B; }

.nav-bar-menu-login-container a:hover, #login_button:hover {
  color: #0072bc; }

#hamburger_button:hover {
  background-color: #003B4B;
  color: #b3ddf9; }

/* New header June 2016 */
.header-container {
  z-index: 10; }

#header-bar.header-dark * {
  background-color: #003B4A;
  color: #FFF; }

#header-bar.header-dark .dropdown-menu {
  margin-top: 2px;
  margin-right: 4px;
  border-radius: 0;
  border: 1px solid #979797;
  background-color: #fdfefe;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.04), 0 2px 8px rgba(0, 0, 0, 0.1);
  color: black; }
  #header-bar.header-dark .dropdown-menu a {
    color: black;
    background-color: #fdfefe; }
  #header-bar.header-dark .dropdown-menu a:hover {
    text-decoration: underline; }

#header-bar.header-light * {
  background-color: #FFF;
  color: #003B4A; }

#header-app-location {
  width: 100%; }

#header-bar * .header-login {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 4px;
  border-radius: 3px; }
  #header-bar * .header-login .not-loggedin {
    background-color: #f15a22;
    color: white; }

#header-menu {
  padding-right: 5px; }

#header-menu-label {
  padding-left: 5px;
  display: none;
  width: 60px;
  position: relative; }
  #header-menu-label .pipe {
    position: absolute;
    right: -3px; }

body.homepage #header-menu-label {
  display: inline-block; }

#header-thin-bar {
  height: 5px;
  background-color: #053B49; }

#header-bar * .clue_app {
  font-family: 'Open Sans';
  font-size: 14pt;
  padding-left: 12px; }

#header-vertical-bar {
  padding-left: 10px;
  border-right: 1px solid #FFF; }

#header-bar {
  height: 36px; }
  #header-bar .flex-end {
    align-items: center;
    height: 36px;
    padding-right: 10px; }
    @media (min-width: 1200px) {
      #header-bar .flex-end {
        padding-right: 65px; } }
  #header-bar .flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    align-content: center; }
  #header-bar .app_name {
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: bold;
    color: #FFD500;
    font-size: 14pt; }
  #header-bar [data-app-title="QUERY"] {
    color: #F15A22; }
  #header-bar [data-app-title="TOUCHSTONE"] {
    color: #FFD500; }
  #header-bar [data-app-title="MORPHEUS"] {
    color: #ED1C24; }
  #header-bar [data-app-title="CELL BROWSER"] {
    color: #00A875; }
  #header-bar [data-app-title="HISTORY"] {
    color: #F7941E; }
  #header-bar [data-app-title="CONNECTIONS"] {
    color: #00B9F2; }
  #header-bar [data-app-title="REPURPOSING APP"] {
    color: #DC5BBB; }
  #header-bar [data-app-title="ICV"] {
    color: #7ED321; }
  #header-bar [data-app-title="CELL QUERY"] {
    color: #88D1ED; }
  #header-bar [data-app-title="THE DRUG REPURPOSING HUB"] {
    color: #407987;
    font-size: 14px;
    opacity: 0.6; }


#ipython_notebook::before {
content:"Welcome to my notebook"; }

#ipython_notebook img {
display:none; }

#ipython_notebook {
display: none; }
